/TipeData/nbproject/private/
/TipeData/build/
/TipeDataNonPrimitif/nbproject/private/
/TipeDataNonPrimitif/build/
/LatihanTipeData/nbproject/private/
/LatihanTipeData/build/
/InputDasar/nbproject/private/
/InputDasar/build/
/BufferInput/nbproject/private/
/BufferInput/build/
/Consoleinput/nbproject/private/
/Consoleinput/build/
/LatihanInput1/nbproject/private/
/LatihanInput1/build/
/LatihanInput2/nbproject/private/
/LatihanInput2/build/
/LatihanInput3/nbproject/private/
/LatihanInput3/build/
